{{view "barraAcciones"}}

<!-- Cabecera -->
<div class="row">
	<h2 class="teal-text">{{model.nombre}} <small class="grey-text">({{model.alias}})</small></h2>
	<div class="col m6">
		<div class="row">
			<!-- datos -->
			<div class="input-field col s12">
				<i class="icon icon-phone prefix"></i>
				{{input disabled="true" value=model.telefono}}
				<label class="active">Teléfono</label>
			</div>
			<div class="input-field col s12">
				<i class="icon icon-information-white prefix"></i>
				{{input disabled="true" value=model.documento}}
				<label class="active">Documento</label>
			</div>
			<div class="input-field col s12">
				<i class="icon icon-at prefix"></i>
				{{input disabled="true" value=model.email}}
				<label class="active">Correo electrónico</label>
			</div>
			<div class="input-field col s12">
				<i class="icon icon-hashtag prefix"></i>
				{{input disabled="true" value=model.imei}}
				<label class="active">IMEI</label>
			</div>			
			<div class="input-field col s12">
				<i class="icon icon-hashtag prefix"></i>
				{{input disabled="true" value=model.imsi}}
				<label class="active">IMSI</label>
			</div>
		</div>
	</div>
	<div class="col m6">
		<div class="row">
			<div class="input-field col s12">
				{{log model.empresa}}
				<i class="icon icon-home prefix"></i>
				{{input disabled="true" value=model.empresa.nombre}}
				<label class="active">Empresa</label>
			</div>
		</div>
	</div>
</div>
